{{range $table, $cols := .}}
    type {{$table}} struct {
        {{- range $_, $col := $cols}}
            {{$col.VariableName}}  {{$col.Kind}} `db:"{{$col.Column.Name}}"`
        {{- end}}
    }
{{end}}
