{{range $_, $table := .}}
    type {{$table.TableName}} struct {
        {{- range $_, $col := $table.ColumnDefs}}
            {{$col.VariableName}}  {{$col.Kind}} `db:"{{$col.Column.Name}}"`
        {{- end}}
    }
{{end}}
